<br/>
<p>{{.notice}}</p>
<table style="width:100%">
<tr>
<td width="360px" valign="top">
<table style="width:100%" class="tb_1">
<caption><a href="/status" target="_blank">status</a></caption>
  <tr><th width="160px">Server Start</th> <td>{{ .startTime }}</td></tr>
  <tr><th>Alive CheckInterval</th> <td>{{.AliveCheckInterval }}</td></tr>
  <tr><th>Proxy Total </th> <td>{{ index .proxy_count "total" }}</td></tr>
  <tr><th>Proxy Active </th> <td>{{ index .proxy_count "active" }} </td></tr>
  <tr><th>HTTP Active</th> <td>{{ index .proxy_count "active_http" }}</td></tr>
  <tr><th>HTTPS Active</th> <td>{{ index .proxy_count "active_https" }}</td></tr>
  <tr><th>Socks5 Active</th> <td>{{ index .proxy_count "active_socks5" }}</td></tr>
  <tr><th>Socks4 Active</th> <td>{{ index .proxy_count "active_socks4" }}</td></tr>
  <tr><th>Socks4a Active</th> <td>{{ index .proxy_count "active_socks4a" }}</td></tr>
  <tr><th>ss Active</th> <td>{{ index .proxy_count "active_ss" }}</td></tr>

  <tr><th>Request Total</th> <td>{{.proxyCntUsedTotal}}</td></tr>
  <tr><th>Request Success</th> <td>{{.proxyCntUsedSuc}}</td></tr>
  <tr><th>Request Failed</th> <td>{{.proxyCntUsedFail}}</td></tr>
  
</table>
</td>
<td width="20px"></td>
<td valign="top">
<div>

<table  class="tb_1">
    <caption> Architecture ( <a href="/about">usage</a> )</caption>
    <tbody>
        <tr>
            <td rowspan="2"  class="t_c">Client</td>
            <td  colspan="2" class="t_c b_y">Proxy Manager</td>
            <td rowspan="2"  class="t_c">Target Server</td>
        </tr>
        <tr>
            <td class="t_c">HTTP Proxy Server</td>
            <td class="t_c"> Proxy Pool</td>
        </tr>
		<tr>
			<td rowspan="3" class="t_c">
                Your Application <br/>
                <p style="margin-top: 10px;color:gray;font-size: 13px">
                    (Using Proxy: http://{{.proxy_host}}:{{.proxy_port}})
                </p>
            </td>
			<td rowspan="3" class="t_c">
                <div>Listen On</div>
                <p>http://{{.proxy_host}}:{{.proxy_port}}</p>
            </td>
			<td nowrap="nowrap">http://xxx.xxx:3128</td>
			<td rowspan="3" class="t_c">http(s)://www.example.com</td>
		</tr>
		<tr>
			<td nowrap="nowrap">socks5://xxx.xxx:1080</td>
		</tr>
		<tr>
			<td nowrap="nowrap">socks4://xxx.xxx:4567</td>
		</tr>
	</tbody>
</table>


</div>
</td>
</tr>
</table>

{{if .isAdmin}}

<table class="tb_1" style="margin-top: 30px">
    <caption>All Proxies</caption>
<thead>
  <tr>
      <th rowspan="2" style="width: 70px">No.</th>
      <th rowspan="2" style="width: 200px">Address</th>
      <th colspan="4" style="width: 60%">Health Check</th>
      <th colspan="3" style="width: 180px">Usage Statistics</th>
  </tr>
<tr>
    <th >Time</th>
    <th style="width: 80px">Status Code</th>
    <th title="ms" style="width: 100px">Delay</th>
    <th>Message</th>

    <th nowrap="nowrap">Used</th>
    <th nowrap="nowrap">Success</th>
    <th nowrap="nowrap">Fail</th>
</tr>
</thead>
<tbody>
	{{ range $index,$proxy:=.proxies }}
    {{ $status:= $proxy.State.LastCheckStatus.Load }}
	 <tr
             {{ if eq $status 200 }}
             style="background: #58d68d;color:blue"
             {{ else }}
             style="color:#c7254e"
             {{ end -}}
     >
         <td class="t_c" nowrap="nowrap">{{ $index }}</td>
         <td nowrap="nowrap">{{ $proxy.Base.Proxy }}</td>

         <td class="t_c" nowrap="nowrap">{{ $proxy.State.LastCheck.Load|myTime }}</td>
         <td class="t_c">{{ $status }}</td>
         <td class="t_c">{{ $proxy.State.LastCheckUsed.Load|myDur }}</td>
         <td class="t_c">{{ $proxy.State.LastCheckMsg.Load }}</td>

         <td class="t_c">{{ $proxy.State.UsedTotal.Load }}</td>
         <td class="t_c">{{ $proxy.State.UsedSuccess.Load }}</td>
         <td class="t_c">{{ $proxy.State.UsedFailed }}</td>
	 </tr>
	{{ end }}
</tbody>
</table>
{{end}}
