<br/>
<p>{{.notice}}</p>
<table style="width:100%">
<tr>
<td width="360px" valign="top">
<table style="width:100%" class="tb_1">
<caption><a href="/status" target="_blank">status</a></caption>
{{ range $index, $kv :=  .Status }}
    <tr><th width="160px">{{ $kv.Key }}</th> <td>{{ $kv.Value }}</td></tr>
{{ end }}
</table>
</td>
<td width="20px"></td>
<td valign="top">
<div>

<table  class="tb_1">
    <caption> Architecture ( <a href="/about">usage</a> )</caption>
    <tbody>
        <tr>
            <td rowspan="2"  class="t_c">Client</td>
            <td  colspan="2" class="t_c b_y">Proxy Manager</td>
            <td rowspan="2"  class="t_c">Target Server</td>
        </tr>
        <tr>
            <td class="t_c">HTTP Proxy Server</td>
            <td class="t_c"> Proxy Pool</td>
        </tr>
		<tr>
			<td rowspan="3" class="t_c">
                Your Application <br/>
                <p style="margin-top: 10px;color:gray;font-size: 13px">
                    (Using Proxy: http://{{.proxy_host}}:{{.proxy_port}})
                </p>
            </td>
			<td rowspan="3" class="t_c">
                <div>Listen On</div>
                <p>http://{{.proxy_host}}:{{.proxy_port}}</p>
            </td>
			<td nowrap="nowrap">http://xxx.xxx:3128</td>
			<td rowspan="3" class="t_c">http(s)://www.example.com</td>
		</tr>
		<tr>
			<td nowrap="nowrap">socks5://xxx.xxx:1080</td>
		</tr>
		<tr>
			<td nowrap="nowrap">socks4://xxx.xxx:4567</td>
		</tr>
	</tbody>
</table>


</div>
</td>
</tr>
</table>

{{if .isAdmin}}
<div>
    <h5>Active Proxies</h5>
    {{ template "index/proxies_table" .active }}
</div>

<div>
    <h5>Inactive Proxies</h5>
    {{ template "index/proxies_table" .other }}
</div>
{{end}}

{{ define "index/proxies_table" }}
<table class="tb_1">
    <thead>
    <tr>
        <th rowspan="2" style="width: 70px">No.</th>
        <th rowspan="2" style="width: 200px">Address</th>
        <th colspan="4" style="width: 60%">Health Check</th>
        <th colspan="3" style="width: 180px">Usage Statistics</th>
    </tr>
    <tr>
        <th >Time</th>
        <th style="width: 80px">Status Code</th>
        <th title="ms" style="width: 100px">Delay</th>
        <th>Message</th>

        <th nowrap="nowrap">Used</th>
        <th nowrap="nowrap">Success</th>
        <th nowrap="nowrap">Fail</th>
    </tr>
    </thead>
    <tbody>
    {{ range $index,$proxy:=. }}
    {{ $status:= $proxy.State.LastCheckStatus.Load }}
    <tr>
        <td class="t_c" nowrap="nowrap">{{ xMathAdd $index 1 }}</td>
        <td nowrap="nowrap">{{ $proxy.Base.Proxy }}</td>

        <td class="t_c" nowrap="nowrap">{{ $proxy.State.LastCheck.Load | xDateTime }}</td>
        <td class="t_c">{{ $status }}</td>
        <td class="t_c">{{ $proxy.State.LastCheckUsed.Load }}</td>
        <td class="t_c">{{ $proxy.State.LastCheckMsg.Load }}</td>

        <td class="t_c">{{ $proxy.State.UsedTotal.Load }}</td>
        <td class="t_c">{{ $proxy.State.UsedSuccess.Load }}</td>
        <td class="t_c">{{ $proxy.State.UsedFailed }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}